/* Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: white; /* White background */
  color: #3b5998; /* Facebook Blue for text color */
  padding: 0 20px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #3b5998; /* Facebook Blue */
}

.nav-buttons {
  display: flex;
}

.nav-button {
  margin: 0 10px;
  padding: 8px 12px;
  background-color: #3b5998; /* Facebook Blue */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-bar {
  background-color: #f0f2f5; /* Light gray background for search bar */
  padding: 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.search-bar input {
  border: none;
  padding: 8px;
  border-radius: 4px;
  width: 200px;
  outline: none;
}
