/* Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: rgb(255, 255, 255); /* White background */
  color: #121212; /* Facebook Blue for text color */
  padding: 0 20px;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #060606; /* Facebook Blue */
}

.nav-buttons {
  border: none;
  display: flex;
}

.nav-button {
  margin: 0 15px;
  padding: 8px 20px; /* Facebook Blue */
  color: rgb(2, 2, 2);
  border: none;
  cursor: pointer;
}

.search-bar { background: transparent; /* Transparent background for search bar */ padding: 8; display: flex; items: center }

.search-bar input { border: none; padding: 8px; border-radius: 4px; width: 200px; outline: none; font-size: 16px; text-decoration: underline; text-decoration-color: #ccc; /* Light gray underline color / text-underline-position: under; / Position the underline under the text */ }
.discount {
  text-align: center;
  background-color: black;
  color: white;
  padding: 7px;
}

.discount p {
  display: inline-block;
  margin-bottom: 0;
}

.discount button {
  margin-left: 10px; /* Adjust the value based on your preference */
}
