/* BrandPanel.css */

.brand-panel {
  flex: 1;
  background-color: #eee;
  border: 1px solid #eee;
}

h2 {
  color: #3b5998;
  font-size: 1.2rem;
  margin-bottom: 15px;
}

li:hover {
  color: #3b5998;
  font-weight: bold;
}
